In [34]:
import numpy as np
import pandas as pd
import random

In [35]:
tablero = pd.DataFrame(np.full((10,10), ' '))
tablero

   0  1  2  3  4  5  6  7  8  9
0
1
2
3
4
5
6
7
8
9

In [36]:
barcos = {
    'barco1_1' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_2' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_3' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_4' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco2_1' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco2_2' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco2_3' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco3_1' : {
        'cantidad' : 1,
        'vidas' : 3},
    'barco3_2' : {
        'cantidad' : 1,
        'vidas' : 3},
    'barco4_1' : {
        'cantidad' : 1,
        'vidas' : 4}}

In [37]:
def espacio_barco(c1,c2,orientacion,eslora):
    if orientacion == 'h':
        espacio_barco = tablero.loc[c1-1:c1+1, c2-1:c2-1+eslora+2] 
    if orientacion == 'v':
        espacio_barco = tablero.loc[c1-1:c1+eslora+1,c2-1:c2+1]
    return espacio_barco

In [38]:
def colocar_barco(eslora):
    lista_barcos = []
    sigo = True
    while sigo:
        sigo = False
        c1 = np.random.randint(0,10)
        c2 = np.random.randint(0,10)
        orientacion = np.random.choice(['h', 'v'])

        if orientacion == 'h' and ((c2+eslora)<10):
            
            if np.any(espacio_barco(c1,c2,orientacion,eslora) == 'O'):
                sigo = True
            else:
                tablero.loc[c1, c2:c2+eslora] = 'O'
                barco = [(c1+eslora,c2),(c1,c2)]
                lista_barcos.append(barco)

        elif orientacion == 'v' and ((c1+eslora)<10):
            
            if np.any(espacio_barco(c1,c2,orientacion,eslora) == 'O'):
                sigo = True
            else: 
                tablero.loc[c1:c1+eslora, c2] = 'O'
                barco = [(c1,c2),(c1+eslora,c2)]
                lista_barcos.append(barco)
 
        else:
            sigo = True
    return lista_barcos

In [39]:
barcos1 = 4 * 1
barcos2 = 3 * 2
barcos3 = 2 * 3
barcos4 = 1 * 4
vidas_yo = barcos1 + barcos2 + barcos3 + barcos4
vidas_m = vidas_yo

barco1_1 = colocar_barco(barcos['barco1_1']['vidas']-1)
barco1_2 = colocar_barco(barcos['barco1_2']['vidas']-1)
barco1_3 = colocar_barco(barcos['barco1_3']['vidas']-1)
barco1_4 = colocar_barco(barcos['barco1_4']['vidas']-1)

barco2_1 = colocar_barco(barcos['barco2_1']['vidas']-1)
barco2_2 = colocar_barco(barcos['barco2_2']['vidas']-1)
barco2_3 = colocar_barco(barcos['barco2_3']['vidas']-1)

barco3_1 = colocar_barco(barcos['barco3_1']['vidas']-1)
barco3_2 = colocar_barco(barcos['barco3_2']['vidas']-1)

barco4_1 = colocar_barco(barcos['barco4_1']['vidas']-1)

lista_b = barco1_1 + barco1_2 + barco1_3 + barco1_4 + barco2_1 + barco2_2 + barco2_3 + barco3_1 + barco3_2 + barco4_1
tablero

   0  1  2  3  4  5  6  7  8  9
0        O  O  O  O        O
1  O                       O
2
3                 O
4           O                 O
5                    O  O     O
6     O
7                       O  O  O
8
9     O  O  O

(9, 6)

In [52]:
disparo(tablero, vidas_m, lista_b)

KeyError: (2, 8)

In [8]:
def tocado_o_hundido(c1,c2, vidas):
    if c1 < 6 and (tablero[c1+1,c2] == 'O' or tablero[c1+2,c2] == 'O' or tablero[c1+3,c2]) == 'O': #barco hacia abajo
        print('Tocado')
        vidas = vidas -1
    elif c2 < 6 and (tablero[c1,c2+1] == 'O' or tablero[c1,c2+2] == 'O' or tablero[c1,c2+3]) == 'O': #barco hacia la derecha
        print('Tocado')
        vidas = vidas - 1
    elif  c1 > 3 and (tablero[c1-1,c2] == 'O' or tablero[c1-2,c2] == 'O' or tablero[c1-3,c2]) == 'O': #barco hacia arriba
        print('Tocado')
        vidas = vidas - 1
    elif  c2 > 3 and (tablero[c1,c2-1] == 'O' or tablero[c1,c2-2] == 'O' or tablero[c1,c2-3]) == 'O': #barco hacia la izquierda
        print('Tocado')
        vidas = vidas - 1
    tablero[c1,c2] = 'X'
    return vidas

In [51]:
def disparo(tablero, vidas, lista_b):
    #turno = 'yo'
    sigue_disparando = True
    while sigue_disparando == True:
        sigue_disparando = False
        c1 = int(input('Coordenada 1 '))
        c2 = int(input('Coordenada 2 '))
        if tablero.loc[c1,c2] == ' ':
            print('Agua')
            #turno = 'maquina'
            #print(f'Le toca el turno a {turno}')
            return(tablero)
        elif tablero.loc[c1, c2] == 'O':
            for i in range(len(lista_b)):
                if lista_b[i][0] == (c1,c2) and lista_b[i][0] == lista_b[i][1]:  # c1,c2 coincide con la primera coordenada de un barco
                    #if lista_b[i][0] == lista_b[i][1]: # Barco de eslora 1(sera hundido)
                    print('Hundido')
                    tablero.loc[c1,c2] = 'X'
                    #lista_b.remove([c1,c2],[c1,c2])
                    vidas = vidas -1
                    print(tablero)
                else:        
                    vidas = tocado_o_hundido(c1,c2,vidas)
        sigue_disparando = True
        print (vidas)
        print (tablero)

In [98]:
'''# cuando las coordenadas coninciden con la primera coordenada de un barco
# ver si es horizontal o vertical y si quedara tocado o hundido
def tocado_o_hundido(c1,c2,i, vidas): # i es la longitud de la lista_barcos
    if (lista_barcos[i][0][0] == lista_barcos[i][1][0]) : # es horizontal
        esl = lista_barcos[i][1][1] - lista_barcos[i][0][1] + 1 # esta es la eslora
        tocados = 0
        while i >0:
            if tablero[c1][c2+i] == 'X':
                tocados = tocados+1
            else:
                print('Tocado')
                vidas_m = vidas_m-1
        if tocados == esl -1:
                print('Hundido')
                lista_barcos.remove([c1,c2],[c1,c2 + esl])
                vidas = vidas -1
    else: # Sera vertical
        esl = lista_barcos[i][0][1] - lista_barcos[i][1][1] + 1 # esta es la eslora
        tocados = 0
        while i >0:
            if tablero[c1+i][c2] == 'X':
                tocados = tocados+1
            else:
                print('Tocado')
                vidas = vidas - 1
        if tocados == esl -1:
                print('Hundido')
                lista_barcos.remove([c1,c2],[c1,c2 + esl])
                vidas = vidas - 1
    tablero[c1,c2] ='X'
    return vidas
    '''

In [30]:
''' funcion de prueba, no vale porque devuelve un tablero en vez de las coordenadas del barco

def colocar_barco(eslora):
    
    sigo = True
    while sigo:
        sigo = False
        c1 = np.random.randint(0,10)
        c2 = np.random.randint(0,10)
        orientacion = np.random.choice(['h', 'v'])

        if orientacion == 'h' and ((c2+eslora)<10):
            
            if np.any(espacio_barco(c1,c2,orientacion,eslora) == 'O'):
                sigo = True
            else:
                tablero.loc[c1, c2:c2+eslora] = 'O'

        elif orientacion == 'v' and ((c1+eslora)<10):
            
            if np.any(espacio_barco(c1,c2,orientacion,eslora) == 'O'):
                sigo = True
            else: 
                tablero.loc[c1:c1+eslora, c2] = 'O'
        else:
            sigo = True
    return tablero
    '''