In [121]:
import numpy as np
import pandas as pd
import random
import time

In [122]:
tablero_m_b = pd.DataFrame(np.full((10,10), ' ')) #donde la maquina tiene sus barcos
tablero_m_b

   0  1  2  3  4  5  6  7  8  9
0
1
2
3
4
5
6
7
8
9

In [123]:
tablero_m_d = pd.DataFrame(np.full((10,10), ' '))  #tablero donde el jugador tiene sus barcos y la maquina efectua sus disparos (se muestra por pantalla)

In [124]:
tablero_j_d = pd.DataFrame(np.full((10,10), ' '))  #tablero con los disparos del jugador (se muestra en pantalla)

In [125]:
barcos = {
    'barco1_1' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_2' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_3' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_4' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco2_1' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco2_2' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco2_3' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco3_1' : {
        'cantidad' : 1,
        'vidas' : 3},
    'barco3_2' : {
        'cantidad' : 1,
        'vidas' : 3},
    'barco4_1' : {
        'cantidad' : 1,
        'vidas' : 4}}

In [126]:
def espacio_barco(c1,c2,orientacion,eslora,tabl):
    if orientacion == 'h':
        espacio_barco1 = tabl.loc[c1-1:c1+1, c2-1:c2+eslora] 
    if orientacion == 'v':
        espacio_barco1 = tabl.loc[c1-1:c1+eslora,c2-1:c2+1]
    return espacio_barco1

In [127]:
def colocar_barco(eslora, tabl):
    lista_barcos = []
    sigo = True
    while sigo:
        sigo = False
        c1 = np.random.randint(0,10)
        c2 = np.random.randint(0,10)
        orientacion = np.random.choice(['h', 'v'])

        if orientacion == 'h' and (c2+(eslora-1)<10):
            
            if np.any(espacio_barco(c1,c2,orientacion,eslora,tabl) == 'O'):
                sigo = True
            else:
                tabl.loc[c1, c2:c2+(eslora-1)] = 'O'
                barco = [(c1,c2+i) for i in range(eslora)]
                lista_barcos.append(barco)

        elif orientacion == 'v' and (c1+(eslora-1)<10):
            
            if np.any(espacio_barco(c1,c2,orientacion,eslora,tabl) == 'O'):
                sigo = True
            else: 
                tabl.loc[c1:c1+(eslora-1), c2] = 'O'
                barco = [(c1+i,c2) for i in range(eslora)]
                lista_barcos.append(barco)
 
        else:
            sigo = True
    return lista_barcos

In [128]:

barco1_1_m = colocar_barco(barcos['barco1_1']['vidas'], tablero_m_b)
barco1_2_m = colocar_barco(barcos['barco1_2']['vidas'], tablero_m_b)
barco1_3_m = colocar_barco(barcos['barco1_3']['vidas'], tablero_m_b)
barco1_4_m = colocar_barco(barcos['barco1_4']['vidas'], tablero_m_b)

barco2_1_m = colocar_barco(barcos['barco2_1']['vidas'], tablero_m_b)
barco2_2_m = colocar_barco(barcos['barco2_2']['vidas'], tablero_m_b)
barco2_3_m = colocar_barco(barcos['barco2_3']['vidas'], tablero_m_b)

barco3_1_m = colocar_barco(barcos['barco3_1']['vidas'], tablero_m_b)
barco3_2_m = colocar_barco(barcos['barco3_2']['vidas'], tablero_m_b)

barco4_1_m = colocar_barco(barcos['barco4_1']['vidas'], tablero_m_b)

lista_b_m = barco1_1_m + barco1_2_m + barco1_3_m + barco1_4_m + barco2_1_m + barco2_2_m + barco2_3_m + barco3_1_m + barco3_2_m + barco4_1_m
tablero_m_b  # en este tablero dispara el jugador

   0  1  2  3  4  5  6  7  8  9
0        O           O  O  O  O
1  O
2
3  O           O  O  O     O
4  O                       O
5              O     O
6              O
7
8                 O  O  O
9     O

In [129]:

barco1_1 = colocar_barco(barcos['barco1_1']['vidas'], tablero_m_d)
barco1_2 = colocar_barco(barcos['barco1_2']['vidas'], tablero_m_d)
barco1_3 = colocar_barco(barcos['barco1_3']['vidas'], tablero_m_d)
barco1_4 = colocar_barco(barcos['barco1_4']['vidas'], tablero_m_d)

barco2_1 = colocar_barco(barcos['barco2_1']['vidas'], tablero_m_d)
barco2_2 = colocar_barco(barcos['barco2_2']['vidas'], tablero_m_d)
barco2_3 = colocar_barco(barcos['barco2_3']['vidas'], tablero_m_d)

barco3_1 = colocar_barco(barcos['barco3_1']['vidas'], tablero_m_d)
barco3_2 = colocar_barco(barcos['barco3_2']['vidas'], tablero_m_d)

barco4_1 = colocar_barco(barcos['barco4_1']['vidas'], tablero_m_d)

lista_m_d = barco1_1 + barco1_2 + barco1_3 + barco1_4 + barco2_1 + barco2_2 + barco2_3 + barco3_1 + barco3_2 + barco4_1
tablero_m_d # en este tablero dispara la maquina

   0  1  2  3  4  5  6  7  8  9
0                 O  O  O     O
1
2           O
3                             O
4                       O     O
5  O        O           O
6  O                          O
7  O        O                 O
8
9           O  O  O  O

In [24]:
lista_b_m

[[(9, 9)],
 [(7, 5)],
 [(2, 4)],
 [(0, 6)],
 [(5, 3), (6, 3)],
 [(2, 7), (3, 7)],
 [(8, 0), (8, 1)],
 [(4, 0), (5, 0), (6, 0)],
 [(0, 1), (1, 1), (2, 1)],
 [(5, 7), (6, 7), (7, 7), (8, 7)]]

In [25]:
lista_m_d

[[(9, 7)],
 [(1, 6)],
 [(5, 6)],
 [(9, 4)],
 [(0, 2), (1, 2)],
 [(7, 0), (8, 0)],
 [(1, 4), (2, 4)],
 [(4, 8), (5, 8), (6, 8)],
 [(7, 3), (7, 4), (7, 5)],
 [(5, 1), (5, 2), (5, 3), (5, 4)]]

In [140]:
def tocado_hundido(cd1,cd2,lista_b, tabl, tablx):
    x = True
    for i,sublista in enumerate(lista_b):
        if (cd1,cd2) in sublista:
            print('impacto')
            sublista.remove((cd1,cd2))
            if len(sublista) > 0:
                tabl.loc[cd1,cd2] = 'B'
                tablx.loc[cd1,cd2] = 'B'
                display('Tocado',tablx, clear=True)
                x = True
                
            else:
                tabl.loc[cd1,cd2] = 'B'
                tablx.loc[cd1,cd2] = 'B'
                lista_b.pop(i)
                display('Hundido',tablx, clear=True)
                x = True
                
                if len(lista_b) == 0:
                    print('***FIN DEL JUEGO***')
                    x = False                
    return x

In [141]:
def disparo(tablero_m_b, tablero_j_d):
    #turno = 'yo'
    sigue_disparando = True
    while sigue_disparando == True:
        sigue_disparando = False
        display(tablero_j_d, clear=True)
        cd1 = int(input('Coordenada 1 '))
        cd2 = int(input('Coordenada 2 '))
        if tablero_m_b.loc[cd1,cd2] == ' ':  #si el jugador dispara agua
            tablero_j_d.loc[cd1,cd2] = 'X'
            tablero_m_b.loc[cd1,cd2] = 'X'
            #sigue_disparando = False
            #print(f'Le toca el turno a {turno}')
            display('Agua',tablero_j_d, clear=True)
            time.sleep(2)
            break
        elif tablero_m_b.loc[cd1,cd2] == 'B' or tablero_m_b.loc[cd1,cd2] == 'X' :
            turno = 'maquina'
            display('Coordenada ya tocada', tablero_j_d, clear=True)
            return turno
        elif tablero_m_b.loc[cd1, cd2] == 'O':
            print('tocado o hundido')
            tocado_hundido(cd1,cd2,lista_b_m, tablero_m_b, tablero_j_d)
            if tocado_hundido(cd1,cd2,lista_b_m, tablero_m_b, tablero_j_d) == False:
                return False
            #display('tocado o hundido')
            else: 
                sigue_disparando = True

In [142]:
def disparo_aleatorio(tablero_m_d):
    #turno = 'yo'
    sigue_disparando = True
    while sigue_disparando == True:
        sigue_disparando = False
        cd1 = np.random.randint(0, 10)
        cd2 = np.random.randint(0, 10)
        if tablero_m_d.loc[cd1,cd2] == ' ':  #si la maquina dispara agua
            tablero_m_d.loc[cd1,cd2] = 'X'
            #turno = 'maquina'
            #print(f'Le toca el turno a {turno}')
            display('Agua',tablero_m_d, clear=True)
            time.sleep(5)
            return
        elif tablero_m_d.loc[cd1,cd2] == 'X' or tablero_m_d.loc[cd1,cd2] == 'B':  #si la maquina repite coordenada
            
            time.sleep(5)
            while tablero_m_d.loc[cd1,cd2] == 'X' or tablero_m_d.loc[cd1,cd2] == 'B':
                cd1 = np.random.randint(0, 10)
                cd2 = np.random.randint(0, 10)
            if tablero_m_d.loc[cd1,cd2] == ' ':
                tablero_m_d.loc[cd1,cd2] = 'X'
                display('Agua',tablero_m_d, clear=True)
                turno = 'jugador'
                time.sleep(5) 
                return
            elif tablero_m_d.loc[cd1, cd2] == 'O':
                print('tocado o hundido')
                tocado_hundido(cd1,cd2,lista_m_d, tablero_m_d, tablero_m_d)
                if tocado_hundido(cd1,cd2,lista_m_d, tablero_m_d, tablero_m_d) == False:
                    return False
                else: 
                    sigue_disparando = True

        elif tablero_m_d.loc[cd1, cd2] == 'O':  #si la maquina dispara a un barco
            print('tocado o hundido')
            tocado_hundido(cd1,cd2,lista_m_d, tablero_m_d, tablero_m_d)
            if tocado_hundido(cd1,cd2,lista_m_d, tablero_m_d, tablero_m_d) == False:
                return False
            else: 
                sigue_disparando = True

In [143]:
def turnos():
    sigue = True
    while sigue:
        sigue = False
        
        disparo(tablero_m_b, tablero_j_d)
        display(tablero_m_d, clear=True)
        disparo_aleatorio(tablero_m_d)
        if disparo_aleatorio(tablero_m_d) == False or disparo(tablero_m_b, tablero_j_d) == False:
            break
        else:
            sigue = True
            display(tablero_j_d, clear=True)

In [144]:
turnos()

   0  1  2  3  4  5  6  7  8  9
0        B           B  B  B  B
1  B           X
2
3  B                       B
4  B                       B  X
5
6  X
7              X
8                 B  B  B
9                          X  X

ValueError: invalid literal for int() with base 10: ''

In [559]:
'''cd1 = random.choice([cd1+1,cd1-1])
cd2 = cd2
if tablero_m_d.loc[cd1,cd2] == ' ':
    tablero_m_d.loc[cd1,cd2] = 'X'
    return display('Agua',tablero_m_d, clear=True)
elif tablero_m_d.loc[cd1, cd2] == 'O':
    tocado_hundido(cd1,cd2,lista_m_d, tablero_m_d, tablero_m_d)

else: 
    pass '''

IndentationError: unexpected indent (1427345111.py, line 2)

In [ ]:
'''def maquina():
    while (cd1)'''

In [ ]:
'''def turnos():
    turno = 'jugador'
    disparo(tablero_m_b, tablero_j_d)
    while disparo(tablero_m_b, tablero_j_d) == 'maquina':
        disparo_aleatorio(tablero_m_d)'''

In [ ]:
'''def turnos():
    disparo(tablero_m_b, tablero_j_d)
    while disparo(tablero_m_b, tablero_j_d) != True:
    turno = 'jugador'
    
    while turno == 'jugador':
        disparo(tablero_m_b, tablero_j_d)
    disparo_aleatorio(tablero_m_d)'''